*** Targets ***

probe = FPing

menu = Top
title = Network Latency Grapher
remark = Welcome to the SmokePing website of Sam Oehlert. \
Here you will learn all about the latency of our network.

+ Local

menu = Local
title = Local Network
#parents = owner:/Test/James location:/

++ LocalMachine

menu = Local Machine
title = Smokeping Host
host = localhost
#alerts = someloss

+ services
menu = Service latency
title = Service latency (DNS, HTTP)

++ DNS
probe = DNS
menu = DNS latency
title = Service latency (DNS)

+++ dns1
host = {{ smokeping_dns_host }}

++ HTTP
menu = HTTP latency
title = Service latency (HTTP)

+++ www1
host = {{ smokeping_http_host }}
