domain ip {
    table filter {
        chain LOGGING;
        chain INPUT {
            policy DROP;

            # connection tracking
            mod state {
                state INVALID DROP;
                state (RELATED ESTABLISHED) ACCEPT;
            }

            # allow local connections
            interface lo ACCEPT;

            # respond to ping
            protocol icmp icmpv6-type 8 ACCEPT;

            # remote administration only allowed from the admin network
            saddr {{ admin_network }}/{{ CIDR }} proto tcp dport ssh ACCEPT;

            # Open incoming TCP ports
            {% if open_tcp_ports is defined %}
            saddr {{ admin_network }}/{{ CIDR }} protocol tcp dport ({{ open_tcp_ports|join(' ') }}) ACCEPT;
            {% endif %}

            # Open incoming UDP ports
            {% if open_udp_ports is defined %}
            saddr {{ admin_network }}/{{ CIDR }} protocol udp dport ({{ open_udp_ports|join(' ') }}) ACCEPT;
            {% endif %}

            jump LOGGING;
        }
        chain LOGGING {
            mod limit limit 2/min LOG log-prefix 'IPTables-Dropped: ';
            DROP;
        }
        chain FORWARD policy DROP;
        chain OUTPUT policy ACCEPT;
    }
}
