---
create_local_users: true
create_users:
  - user: soehlert
    comment: 'Sam Oehlert'
    pass: ''
    generate_keys: false
    shell: '/bin/bash'
    state: present
    sudo: true
    system_account: false
  - user: deploy
    comment: 'For running playbooks'
    pass: ''
    generate_keys: false
    shell: '/bin/bash'
    state: present
    sudo: true
    system_account: false

enable_manage_ssh_keys: true
manage_ssh_keys:
  - remote_user: soehlert
    state: present
    keys:
      - files/ansible.pub
      - files/mbair.pub
  - remote_user: deploy
    state: present
    keys:
      - files/deploy.pub
