---
# tasks file for roles/updates
- block:
    - name: Update debian
      apt:
        upgrade: dist
        update_cache: yes

    - name: Check if we need to reboot
      stat:
          path: /var/run/reboot-required
      register: reboot_required

    - name: Reboot immediately if there was a change.
      shell: "sleep 5 && reboot"
      async: 1
      poll: 0
      when: reboot_required.stat.exists

    - name: waiting for server booting up
      local_action: wait_for
      args:
        host: '{{ inventory_hostname }}'
        port: 22
        delay: 30
        timeout: 300
        state: started
      when: reboot_required.stat.exists

    - name: Remove useless packages from the cache
      apt:
        autoclean: yes

    - name: Remove dependencies that are no longer required
      apt:
        autoremove: yes

  when: ansible_os_family == "Debian"
