[Unit]
Description=Jackett Daemon
After=network.target

[Service]
User={{ jackett_user }}
Restart=always
RestartSec=5
Type=simple
ExecStart=/usr/bin/mono --debug /opt/jackett/JackettConsole.exe
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
