#!/bin/bash

# chkconfig: 2345 20 80
# description: For starting up hoddlebot

# Source function library.
. /etc/init.d/functions

status() {
  if ps -ef | grep "adapter slack" | grep -vE '(grep|status)' >/dev/null 2>&1;
  then
    printf "Hoddlebot is running\n"
    exit 0
  else
    printf "Hoddlebot is not running\n"
    exit 0
  fi
}

start() {
  while true
  do
    if ps -ef | grep "adapter slack" | grep -vE '(grep|start)' >/dev/null 2>&1;
    then
      exit 1
    else
      printf "Starting Hoddlebot\n"
      cd /home/soehlert/hoddlebot || exit
      HUBOT_WUNDERGROUND_API_KEY="d4172e2ccd4f4541" \
      BREWERYDB_API_KEY="7101bbf7c29b4c0e3ac2cb4712b5611f" \
      HUBOT_SLACK_TOKEN="xoxb-4768734453-9VEZNbIu7xrTlrO5V8SpAmWP" \
      /home/soehlert/hoddlebot/bin/hubot --adapter slack & > /dev/null 2>&1
      echo $! > /home/soehlert/hoddlebot/hoddlebot.pid
    fi
  done
#  fi
}

stop() {
  if [ -e /home/soehlert/hoddlebot/hoddlebot.pid ];
  then
    printf "Shutting down Hoddlebot\n"
    rm -f /home/soehlert/hoddlebot/hoddlebot.pid
    ps -ef | grep "adapter slack" | grep -vE '(grep|stop)' | awk '{print $2}' | xargs kill > /dev/null 2>&1
    return 0
  else
    printf "Hoddlebot is not running\n"
  fi
}

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  status)
    status
    ;;
  restart)
    stop
    start
    ;;
  *)
    echo "Usage: hoddlebot {start|stop|restart|status}"
    exit 1
    ;;
esac
exit $?
