#!/bin/bash

# chkconfig: 2345 20 80
# description: For starting up hoddlebot

# Source function library.
. /etc/init.d/functions

status() {
  if [ -e {{ hoddlebot_pid }} ];
  then
    printf "Hoddlebot is running\n"
    exit 0
  else
    printf "Hoddlebot is not running\n"
    exit 1
  fi
}

start() {
  if [ -e {{ hoddlebot_pid }} ];
  then
    printf "Hoddlebot is already running\n"
    exit 1
  else
    printf "Starting Hoddlebot\n"
    cd {{ hoddlebot_path }}
    HUBOT_WUNDERGROUND_API_KEY="{{ lookup('ini', 'wunderground_api_key section=hoddlebot file={{ ansible_secrets }}/hoddlebot.ini') }}" \
    BREWERYDB_API_KEY="{{ lookup('ini', 'brewerydb_api_key section=hoddlebot file={{ ansible_secrets }}/hoddlebot.ini') }}" \
    HUBOT_SLACK_TOKEN="{{ lookup('ini', 'slack_token section=hoddlebot file={{ ansible_secrets }}/hoddlebot.ini') }}" \
    {{ hoddlebot_path }}/bin/hubot --adapter {{ hoddlebot_adapter }} & > /dev/null 2>&1
    echo $! > {{ hoddlebot_pid }}
    return 0
  fi
}

stop() {
  if [ -e {{ hoddlebot_pid }} ];
  then
    printf "Shutting down Hoddlebot\n"
    rm -f {{ hoddlebot_pid }}
    ps -ef | grep hoddlebot | grep root | grep -v grep | awk '{print $2}' | xargs kill > /dev/null 2>&1
    return 0
  else
    printf "Hoddlebot is not running\n"
  fi
}

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  status)
    status
    ;;
  restart)
    stop
    start
    ;;
  *)
    echo "Usage: hoddlebot {start|stop|restart|status}"
    exit 1
    ;;
esac
exit $?
