[Unit]
Description=Deluge Bittorrent Client Daemon
After=network-online.target

[Service]
Type=simple
User="{{ deluge_user }}"
Group="{{ deluge_user}}"
UMask=007

ExecStart=/usr/bin/deluged -d -l /var/log/deluge/daemon.log -L warning

Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
{% if deluge_nfs %}
# Unit starts after the following mounts are available.
RequiresMountsFor="{{ deluge_mount }}".mount
# Unit is stopped when any of these mounts disappear.
BindsTo="{{ deluge_mount}}".mount
{% endif %}
