---
# tasks file for hosts
- name: Tell dnsmasq to look at our dns list
  template:
    src: lan.conf.j2
    dest: /etc/dnsmasq.d/02-lan.conf
    owner: root
    group: root
    mode: 0644

- name: Updating hosts list
  template:
    src: hosts.j2
    dest: /etc/pihole/lan.list
    owner: root
    group: root
    mode: 0644
  notify: restart dns
